@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background-image-reg{
    /* background-image: linear-gradient(to right bottom, #00da13, #a8a800, #d56c00, #d52c38, #aa0e66); */
    /* background-color: #080710; */
    background: url("https://images.pexels.com/photos/333850/pexels-photo-333850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container-reg{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.form-reg{
    height: 750px;
    width: 700px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.form-reg *{
    font-family: 'Oswald',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.form-reg h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #cecece;
}

label-reg{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input-reg{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.button-reg{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
    background-color: #363636;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s;
}

.button-reg:hover{
    background-color: #ff3939;
    color: #ffffff;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
  transition: 0.8s;
}
.go:hover{
  background-color: rgba(248, 0, 0, 0.596);
}

.fb:hover{
    background-color: rgba(0, 4, 248, 0.596);
  }

.social .fb{
  margin-left: 25px;
}